<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe79d898-3d4e-496e-ac9c-cfd7e20727c4" Alias="aboutPage" Level="3">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-info color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/About</Folder>
    <Compositions>
      <Composition Key="24b466e2-afb4-40a7-9773-6c1e50987f37">seoBasePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f986a618-a5f2-482d-a0c4-8c178e0d87f9</Key>
      <Name>Dynamic Content</Name>
      <Alias>dynamicContent</Alias>
      <Definition>ca74e9d8-d529-47cf-839b-7b92ac59cfea</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e8edc34b-072a-41eb-aa9a-b4a4d0b43089</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>