<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eede4813-b2cb-43c6-afdd-395f1da1b040" Alias="contactEntriesContainer" Level="3">
  <Info>
    <Name>Contact Entries Container</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Shared+Content/Contact</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dd0e61c2-eb84-4aff-9ac4-e944e199441e" SortOrder="0">contactEntry</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>