<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="918abb0f-479f-4747-9868-5152378bff5b" Alias="teamPage" Level="3">
  <Info>
    <Name>Team Page</Name>
    <Icon>icon-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Team</Folder>
    <Compositions>
      <Composition Key="24b466e2-afb4-40a7-9773-6c1e50987f37">seoBasePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="15f16f2d-9582-465a-ab86-18560ae6464b" SortOrder="0">teamMemberPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>256e4504-bcde-453c-b140-e2c4b767a73a</Key>
      <Name>Dynamic Content</Name>
      <Alias>dynamicContent</Alias>
      <Definition>cd20f1fe-2475-4d94-a2e6-03081cf0d31e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>73beac61-c480-4dc1-a058-53db1d18959e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>