<?xml version="1.0" encoding="utf-8"?>
<Domain Key="4a112bc0-0000-0000-0000-000000000000" Alias="localhost:44353">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="a10ac19e-c475-493c-a6f7-8fb62752ce10">/Home</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>