.team-member-details-section {
    .container {
        .img-thumbnail {
            width: 500px;
            margin: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-top: 10px;
            padding: 0px;
            height: 500px;
            max-width: 500px;
            max-height: 500px;
        }

        .member-info {
            h5 {
                padding-top: 10px;
            }

            p {
                padding-top: 20px;
            }
        }
    }

    .text-primary {
        color: $main_color_light !important;
    }
}