<?xml version="1.0" encoding="utf-8"?>
<Content Key="944a0e88-4ce8-42b5-9a80-bab96c30c961" Alias="Contact" Level="2">
  <Info>
    <Parent Key="a10ac19e-c475-493c-a6f7-8fb62752ce10">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <changeFrequency>
      <Value><![CDATA[]]></Value>
    </changeFrequency>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dd427de2bc924c82b1a66f7177a23556"
      },
      {
        "contentUdi": "umb://element/1ce7ecd26b49419f952caadbf085c220"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3604058-ae19-413c-8638-d64d733e51e0",
      "udi": "umb://element/dd427de2bc924c82b1a66f7177a23556",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"b85b7d25-6cc6-4869-b95e-993a2450525c\",\r\n    \"mediaKey\": \"61803bea-3b8c-460f-b2fd-1ed53ed03ceb\"\r\n  }\r\n]",
      "title": "Contact"
    },
    {
      "contentTypeKey": "9c93dedc-bf3c-4297-abe5-f6b3f81b2dd9",
      "udi": "umb://element/1ce7ecd26b49419f952caadbf085c220",
      "fromPreTitle": "Contact us",
      "formTitle": "Tell us what you think",
      "embededGoogleMap": "<iframe allowfullscreen=\"\" frameborder=\"0\" src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2265.4082587187495!2d10.395667916036063!3d55.40322952636565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x464cdfe454764c21%3A0xc6167e637b1ddc34!2sFFW%20Agency!5e0!3m2!1sen!2sbg!4v1677874986181!5m2!1sen!2sbg\" width=\"100%\" height=\"100%\" loading=\"lazy\" referrerpolicy=\"no-referrer-when-downgrade\"></iframe>",
      "linkToTermsAndConditionsPage": "[{\"name\":\"Terms and Conditions\",\"udi\":\"umb://document/a10ac19ec475493ca6f78fb62752ce10\"}]",
      "acceptanceText": "I agree with the "
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <priority>
      <Value><![CDATA[]]></Value>
    </priority>
    <shareImage>
      <Value><![CDATA[[]]]></Value>
    </shareImage>
    <shareText>
      <Value><![CDATA[]]></Value>
    </shareText>
    <shareTitle>
      <Value><![CDATA[]]></Value>
    </shareTitle>
  </Properties>
</Content>