<?xml version="1.0" encoding="utf-8"?>
<Content Key="40d0127e-4050-4563-8ac5-1893fe284167" Alias="Entry-fsdaf-4/24/2023 3:26:47 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryFsdaf424202332647PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T15:26:47</CreateDate>
    <NodeName Default="Entry-fsdaf-4/24/2023 3:26:47 PM" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[fsdaf]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[sdfsda@sdfsdafdsf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdafdsafs]]></Value>
    </message>
  </Properties>
</Content>