<?xml version="1.0" encoding="utf-8"?>
<Content Key="376e8a4b-fb37-4960-8246-1fe7b1199941" Alias="Entry-dsfdsaf-4/24/2023 2:01:53 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfdsaf424202320153PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T14:01:53</CreateDate>
    <NodeName Default="Entry-dsfdsaf-4/24/2023 2:01:53 PM" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfdsaf]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[dsafds@dsfasdf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdafasdf]]></Value>
    </message>
  </Properties>
</Content>