<?xml version="1.0" encoding="utf-8"?>
<Content Key="daba9321-33e6-4835-b87f-a2ad22b36ded" Alias="Entry--5/2/2023 11:28:25 AM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/Entry522023112825AM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-05-02T11:28:25</CreateDate>
    <NodeName Default="Entry--5/2/2023 11:28:25 AM" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <message>
      <Value><![CDATA[dsfsdafasdf]]></Value>
    </message>
  </Properties>
</Content>