<?xml version="1.0" encoding="utf-8"?>
<Content Key="627f2292-b036-4354-a06f-279771397320" Alias="Entry-dsfds-4/24/2023 2:56:10 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfds424202325610PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T14:56:10</CreateDate>
    <NodeName Default="Entry-dsfds-4/24/2023 2:56:10 PM" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfds]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[ffsdaf@sdafsdaf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdfsda]]></Value>
    </message>
  </Properties>
</Content>