<?xml version="1.0" encoding="utf-8"?>
<Content Key="5564c54a-d3c7-4a01-8487-a237e2c24ab2" Alias="Entry-dsfsdf-4/24/2023 2:13:10 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfsdf424202321310PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T14:13:11</CreateDate>
    <NodeName Default="Entry-dsfsdf-4/24/2023 2:13:10 PM" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfsdf]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[sdfsadf@dfasdf]]></Value>
    </email>
    <message>
      <Value><![CDATA[fdsafds]]></Value>
    </message>
  </Properties>
</Content>