<?xml version="1.0" encoding="utf-8"?>
<Content Key="354fd602-6b9a-49da-aa4c-ea3e57259dc3" Alias="Entry-dsfa-5/2/2023 11:12:58 AM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfa522023111258AM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-05-02T11:12:58</CreateDate>
    <NodeName Default="Entry-dsfa-5/2/2023 11:12:58 AM" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfa]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[fsd@fsdf]]></Value>
    </email>
    <message>
      <Value><![CDATA[dsfsdafsdf]]></Value>
    </message>
  </Properties>
</Content>