<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebbd89a4-ef08-4ac7-a47f-a7c57463bd63" Alias="Entry-dsfdsf-4/24/2023 2:16:08 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfdsf424202321608PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T14:16:08</CreateDate>
    <NodeName Default="Entry-dsfdsf-4/24/2023 2:16:08 PM" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfdsf]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[sdafsdaf@fsdaf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdafdsaf]]></Value>
    </message>
  </Properties>
</Content>