<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6871389-bbb7-4e0b-94ee-b10edba3743e" Alias="Entry-dsfd-4/24/2023 3:26:18 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfd424202332618PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T15:26:18</CreateDate>
    <NodeName Default="Entry-dsfd-4/24/2023 3:26:18 PM" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfd]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[dsfsa@sdfsdf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdfdsaf]]></Value>
    </message>
  </Properties>
</Content>