<?xml version="1.0" encoding="utf-8"?>
<Content Key="f3a458ab-1162-4d1b-b1fa-87efa4958452" Alias="Entry-fsdaf-4/24/2023 3:27:38 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryFsdaf424202332738PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T15:27:38</CreateDate>
    <NodeName Default="Entry-fsdaf-4/24/2023 3:27:38 PM" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[fsdaf]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[sdfsda@sdfsdafdsf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdafdsafs]]></Value>
    </message>
  </Properties>
</Content>