<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad6d132d-f29e-44e3-8329-b40d2093b3aa" Alias="Entry-sfsad-5/1/2023 6:53:35 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntrySfsad51202365335PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-05-01T18:53:35</CreateDate>
    <NodeName Default="Entry-sfsad-5/1/2023 6:53:35 PM" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[sfsad]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[sdfsadf@sdafas]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdafasdfd]]></Value>
    </message>
  </Properties>
</Content>