<?xml version="1.0" encoding="utf-8"?>
<Content Key="17eef552-8e6e-4d60-8b1c-9f211a0e788a" Alias="Gallery" Level="2">
  <Info>
    <Parent Key="a10ac19e-c475-493c-a6f7-8fb62752ce10">Home</Parent>
    <Path>/Home/Gallery</Path>
    <Trashed>false</Trashed>
    <ContentType>galleryPage</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Gallery" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <changeFrequency>
      <Value><![CDATA[]]></Value>
    </changeFrequency>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f13623b01bf54616b24497b6b69db15d"
      },
      {
        "contentUdi": "umb://element/2b612c9234a74f8981bf889c10921297"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3604058-ae19-413c-8638-d64d733e51e0",
      "udi": "umb://element/f13623b01bf54616b24497b6b69db15d",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"e530b532-b28b-439d-b78b-ebb1411fcdd2\",\r\n    \"mediaKey\": \"8a86a4a4-5665-46d8-a7f8-02f5debdc854\"\r\n  }\r\n]",
      "title": "Gallery"
    },
    {
      "contentTypeKey": "8d00f0b1-239f-467f-8e92-607f6c8ec202",
      "udi": "umb://element/2b612c9234a74f8981bf889c10921297",
      "preTitle": "Check our photos",
      "title": "Vivamus suscipit tortor eget felis porttitor volutpat.",
      "mediaItems": "[\r\n  {\r\n    \"key\": \"9896e6aa-3aae-4b61-9e0d-fa494d8b3762\",\r\n    \"mediaKey\": \"da78531d-d4a6-4d3a-b018-1f11d0663b5c\"\r\n  },\r\n  {\r\n    \"key\": \"da03d715-f0f6-4822-8420-bf487eb870bc\",\r\n    \"mediaKey\": \"7514d794-1c18-4933-9f99-aae171ddc721\"\r\n  },\r\n  {\r\n    \"key\": \"065877e1-a845-48fe-bef3-286c9608c7b5\",\r\n    \"mediaKey\": \"548c7818-9b6b-4767-945a-20ef80c5094b\"\r\n  },\r\n  {\r\n    \"key\": \"2b361559-0a8c-4d6c-8f2b-0f483afc23aa\",\r\n    \"mediaKey\": \"575f913a-302f-487f-80bd-2d4d0d705b78\"\r\n  },\r\n  {\r\n    \"key\": \"f4a65597-8b2d-427c-bacb-89c7258b860e\",\r\n    \"mediaKey\": \"b93841c0-b77c-4fef-b879-e54f36aa1fed\"\r\n  },\r\n  {\r\n    \"key\": \"6c9ea341-a532-44c1-b9ef-c96e5c44c94e\",\r\n    \"mediaKey\": \"586cfe7f-9dc4-49d1-a97d-b5e92adc32cb\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <priority>
      <Value><![CDATA[]]></Value>
    </priority>
    <shareImage>
      <Value><![CDATA[[]]]></Value>
    </shareImage>
    <shareText>
      <Value><![CDATA[]]></Value>
    </shareText>
    <shareTitle>
      <Value><![CDATA[]]></Value>
    </shareTitle>
  </Properties>
</Content>