<?xml version="1.0" encoding="utf-8"?>
<Content Key="96635753-6f88-459f-af41-3bd15eaf494c" Alias="Identity" Level="3">
  <Info>
    <Parent Key="4ef4df6a-06e0-4b0c-87fe-cc4c52248cbc">Portfolio</Parent>
    <Path>/Home/Portfolio/Identity</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioSinglePage</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Identity" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29f18263198d4f678a3f0344a4deba12"
      },
      {
        "contentUdi": "umb://element/58b3e3622a3343ce9c9d610e2d6b658d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3604058-ae19-413c-8638-d64d733e51e0",
      "udi": "umb://element/29f18263198d4f678a3f0344a4deba12",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"11c01cb3-791c-4d07-8869-ab71cf48ed61\",\r\n    \"mediaKey\": \"61803bea-3b8c-460f-b2fd-1ed53ed03ceb\"\r\n  }\r\n]",
      "title": "Identity"
    },
    {
      "contentTypeKey": "0d3248c8-7f35-401e-9663-3ea2061ff873",
      "udi": "umb://element/58b3e3622a3343ce9c9d610e2d6b658d",
      "images": "[\r\n  {\r\n    \"key\": \"a613d77c-ba2e-4aab-a753-fb45ac7a14b8\",\r\n    \"mediaKey\": \"da78531d-d4a6-4d3a-b018-1f11d0663b5c\"\r\n  },\r\n  {\r\n    \"key\": \"1fa9e931-c355-4e05-8434-1d01790e59fc\",\r\n    \"mediaKey\": \"548c7818-9b6b-4767-945a-20ef80c5094b\"\r\n  },\r\n  {\r\n    \"key\": \"2fad992a-d1a9-4815-8392-042b11f33a02\",\r\n    \"mediaKey\": \"7514d794-1c18-4933-9f99-aae171ddc721\"\r\n  }\r\n]",
      "preTitle": "Portfolio",
      "title": "Lorem ipsum dolor sit amet consectetur.",
      "description": "<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>\n<ul class=\"list-unstyled\">\n<li>Date: January 2017</li>\n<li>Client: Threads</li>\n<li>Category: Illustration</li>\n</ul>"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <socialMediaShareDescription>
      <Value><![CDATA[]]></Value>
    </socialMediaShareDescription>
    <socialMediaShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialMediaShareImage>
    <socialMediaShareTitle>
      <Value><![CDATA[]]></Value>
    </socialMediaShareTitle>
  </Properties>
</Content>