<?xml version="1.0" encoding="utf-8"?>
<Content Key="38d47bd6-5647-4cb0-beb6-57d29f79fa31" Alias="Jane Doe" Level="3">
  <Info>
    <Parent Key="8b5f43ee-1a7e-465a-a1e8-618a9f6d2ff2">Team</Parent>
    <Path>/Home/Team/JaneDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberPage</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Jane Doe" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ecd75808e67a4beb9eebeaafd507903d"
      },
      {
        "contentUdi": "umb://element/9575f1225548480b8ea9abe9a04b7aac"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3604058-ae19-413c-8638-d64d733e51e0",
      "udi": "umb://element/ecd75808e67a4beb9eebeaafd507903d",
      "backgroundImage": "[\r\n  {\r\n    \"key\": \"571c7001-634b-46e9-85b9-1bd075a99594\",\r\n    \"mediaKey\": \"61803bea-3b8c-460f-b2fd-1ed53ed03ceb\"\r\n  }\r\n]",
      "title": "John Doe"
    },
    {
      "contentTypeKey": "16216473-3b84-4576-80ba-609c56166b10",
      "udi": "umb://element/9575f1225548480b8ea9abe9a04b7aac",
      "title": "Meet John Doe",
      "description": "Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.",
      "image": "[\r\n  {\r\n    \"key\": \"85d4d0c5-2812-42a4-95a7-0937baeab0c2\",\r\n    \"mediaKey\": \"edf62414-b8a9-40a6-8665-bbcd6fec31f6\"\r\n  }\r\n]",
      "memberName": "John Doe",
      "memberResume": "Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.",
      "footnote": "Erat netus",
      "facebookProfileLink": "#",
      "instagramProfileLink": "#"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <socialMediaShareDescription>
      <Value><![CDATA[]]></Value>
    </socialMediaShareDescription>
    <socialMediaShareImage>
      <Value><![CDATA[[]]]></Value>
    </socialMediaShareImage>
    <socialMediaShareTitle>
      <Value><![CDATA[]]></Value>
    </socialMediaShareTitle>
  </Properties>
</Content>