<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe353bfe-c101-41ef-9179-93c8ace20d80" Alias="SEO Settings" Level="3">
  <Info>
    <Parent Key="7ba16b33-8c12-4904-ae35-12e32b5b3622">Settings</Parent>
    <Path>/Home/Settings/SEOSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>seoSettings</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="SEO Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imageFallback>
      <Value><![CDATA[]]></Value>
    </imageFallback>
    <metaDescriptionMaxLength>
      <Value><![CDATA[]]></Value>
    </metaDescriptionMaxLength>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <sitemapCacheDuration>
      <Value><![CDATA[]]></Value>
    </sitemapCacheDuration>
    <socialMediaDescriptionMaxLength>
      <Value><![CDATA[]]></Value>
    </socialMediaDescriptionMaxLength>
    <socialMediaShareDefaultImage>
      <Value><![CDATA[[]]]></Value>
    </socialMediaShareDefaultImage>
    <textFallback>
      <Value><![CDATA[]]></Value>
    </textFallback>
    <titleFallback>
      <Value><![CDATA[]]></Value>
    </titleFallback>
    <turnOffSeo>
      <Value><![CDATA[0]]></Value>
    </turnOffSeo>
    <turnOffSitemapCache>
      <Value><![CDATA[1]]></Value>
    </turnOffSitemapCache>
  </Properties>
</Content>