<?xml version="1.0" encoding="utf-8"?>
<Media Key="688e9840-d4c2-41b7-92f3-92d3ddfb8716" Alias="Atomic V2 Smaller Space (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AtomicV2SmallerSpace1</Path>
    <Trashed Parent="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-30T17:36:05</CreateDate>
    <NodeName Default="Atomic V2 Smaller Space (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i0mi20gc/atomic-v2-smaller-space-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>