<?xml version="1.0" encoding="utf-8"?>
<Media Key="4da38e8f-4707-4121-a624-c1c8a6bc22e5" Alias="Atomic Pallete" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/AtomicPallete</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:32:25</CreateDate>
    <NodeName Default="Atomic Pallete" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rghkgtih/atomic-pallete.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>