<?xml version="1.0" encoding="utf-8"?>
<Media Key="367b190f-9111-4754-9580-8dbbdbdbad74" Alias="Atomic V4 Smaller Space" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AtomicV4SmallerSpace</Path>
    <Trashed Parent="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-30T17:36:04</CreateDate>
    <NodeName Default="Atomic V4 Smaller Space" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bemhwnqr/atomic-v4-smaller-space.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>