<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bef6814-50d1-4d17-be68-0bccf9c06696" Alias="Gallery 6" Level="3">
  <Info>
    <Parent Key="8487fbb4-8334-4a3e-b185-c5fde12cb335">Gallery</Parent>
    <Path>/TempMedia/Gallery/Gallery6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-06T16:38:41</CreateDate>
    <NodeName Default="Gallery 6" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cjuo4g4r/3-thumbnail.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>