<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e05aef6-c783-4ff4-86db-506da001d913" Alias="Hd Wallpaper G7d36e199e 1920 (1)" Level="2">
  <Info>
    <Parent Key="482777aa-2c22-4661-af33-2355ff0390cb">TempMedia</Parent>
    <Path>/TempMedia/HdWallpaperG7d36e199e19201</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Hd Wallpaper G7d36e199e 1920 (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4cxakhud/hd-wallpaper-g7d36e199e_1920-1.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>