<?xml version="1.0" encoding="utf-8"?>
<Media Key="c06a88cc-160c-41b9-9209-3d0ad6fda0e0" Alias="Heading Services" Level="3">
  <Info>
    <Parent Key="8802c6a1-76a7-40db-971a-8261e0d2d1de">Heading</Parent>
    <Path>/StarterKit/Heading/HeadingServices</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-01T15:42:16</CreateDate>
    <NodeName Default="Heading Services" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zkegvqam/heading-services.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>