<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcad1d82-f84a-4356-9f0c-d168866f0701" Alias="Heading Team" Level="2">
  <Info>
    <Parent Key="8802c6a1-76a7-40db-971a-8261e0d2d1de">Heading</Parent>
    <Path>/Heading/HeadingTeam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-01T15:42:16</CreateDate>
    <NodeName Default="Heading Team" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qqol1xck/heading-team.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>