<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a86a4a4-5665-46d8-a7f8-02f5debdc854" Alias="Heading Gallery" Level="2">
  <Info>
    <Parent Key="8802c6a1-76a7-40db-971a-8261e0d2d1de">Heading</Parent>
    <Path>/Heading/HeadingGallery</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-01T15:42:16</CreateDate>
    <NodeName Default="Heading Gallery" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uksinctf/heading-gallery.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>