<?xml version="1.0" encoding="utf-8"?>
<Media Key="61803bea-3b8c-460f-b2fd-1ed53ed03ceb" Alias="Heading Banner" Level="2">
  <Info>
    <Parent Key="482777aa-2c22-4661-af33-2355ff0390cb">TempMedia</Parent>
    <Path>/TempMedia/HeadingBanner</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Heading Banner" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3q3jaymm/heading_banner.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>