<?xml version="1.0" encoding="utf-8"?>
<Media Key="fffb167d-9640-4c27-9e2a-1f7565e547fd" Alias="Home" Level="2">
  <Info>
    <Parent Key="482777aa-2c22-4661-af33-2355ff0390cb">TempMedia</Parent>
    <Path>/TempMedia/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-06T16:38:41</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>