<?xml version="1.0" encoding="utf-8"?>
<Media Key="c70acfd4-e910-4b16-87b3-a49ac6861dc6" Alias="Logo V1 Big Inverted" Level="2">
  <Info>
    <Parent Key="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">Logos</Parent>
    <Path>/Logos/LogoV1BigInverted</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-04-30T14:16:37</CreateDate>
    <NodeName Default="Logo V1 Big Inverted" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2xhbvryq/logo-v1-big-inverted.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>