<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d2b4c7c-d1df-427d-beb5-801872641deb" Alias="Logo Placeholder Image" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/LogoPlaceholderImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-01T16:22:40</CreateDate>
    <NodeName Default="Logo Placeholder Image" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjgcwdo5/logo-placeholder-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>