<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2885270-3c04-4eff-92f9-684105d4b345" Alias="Logo V1 Big" Level="2">
  <Info>
    <Parent Key="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">Logos</Parent>
    <Path>/Logos/LogoV1Big</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-04-30T14:16:37</CreateDate>
    <NodeName Default="Logo V1 Big" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ifjirmqe/logo-v1-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>