<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c83f388-c6a0-4ba1-bdc8-61046202a7b6" Alias="Logo V1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoV1</Path>
    <Trashed Parent="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-04-30T14:12:24</CreateDate>
    <NodeName Default="Logo V1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xhzjhdfa/logo-v1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>