<?xml version="1.0" encoding="utf-8"?>
<Media Key="3abf5b56-a78c-4486-aaf0-9674b3500002" Alias="Logo V1 Inverted" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/LogoV1Inverted</Path>
    <Trashed Parent="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">true</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-04-30T14:13:21</CreateDate>
    <NodeName Default="Logo V1 Inverted" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3nl4oum/logo-v1-inverted.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>