<?xml version="1.0" encoding="utf-8"?>
<Media Key="0218a26d-1cda-4be3-a7c2-6e716acbb5d0" Alias="Logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-30T14:12:11</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>