<?xml version="1.0" encoding="utf-8"?>
<Media Key="fdbc4b93-46e8-4923-bca3-40ae79d71650" Alias="Portfolio" Level="2">
  <Info>
    <Parent Key="482777aa-2c22-4661-af33-2355ff0390cb">TempMedia</Parent>
    <Path>/TempMedia/Portfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-06T16:38:41</CreateDate>
    <NodeName Default="Portfolio" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>