<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e83a934-1b12-4dec-9953-5ae2ffe2e5c9" Alias="Purse G59d13a43d 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/PurseG59d13a43d1280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:32:25</CreateDate>
    <NodeName Default="Purse G59d13a43d 1280" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gkujhdqs/purse-g59d13a43d_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>