<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d6927c1-10db-4c3f-af9a-e5e3c3adc329" Alias="Security Gf65c1b3bd 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/SecurityGf65c1b3bd1280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:32:26</CreateDate>
    <NodeName Default="Security Gf65c1b3bd 1280" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y2ths5o1/security-gf65c1b3bd_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>