<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf" Alias="Starter Kit" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StarterKit</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-28T18:32:02</CreateDate>
    <NodeName Default="Starter Kit" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>