<?xml version="1.0" encoding="utf-8"?>
<Media Key="482777aa-2c22-4661-af33-2355ff0390cb" Alias="TempMedia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TempMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="TempMedia" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>