<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87822b4e-e7e2-4d1c-9d60-987cf96bdc27" Alias="Block List - Homepage - Dynamic Content" Level="2">
  <Info>
    <Name>Block List - Homepage - Dynamic Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Pages</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>