<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c4ca9ae-4481-471a-b3da-90496c46dba1" Alias="Dummy Settings Data Type" Level="2">
  <Info>
    <Name>Dummy Settings Data Type</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>