<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e407f7a-92cf-43a2-9df6-7ad79576bcda" Alias="Dummy Components Data Type" Level="2">
  <Info>
    <Name>Dummy Components Data Type</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>