<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7065d735-142c-4ddb-9a2c-be2eb9e3bbc7" Alias="galleryPage" Level="3">
  <Info>
    <Name>Gallery Page</Name>
    <Icon>icon-pictures-alt-2 color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Gallery</Folder>
    <Compositions>
      <Composition Key="b850c566-9e31-44ad-999f-8f7b138b9434">basePageWithRequiredHeader</Composition>
      <Composition Key="24b466e2-afb4-40a7-9773-6c1e50987f37">seoBasePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3022cdbe-4b57-4939-9744-ddbfea50d19a</Key>
      <Name>Dynamic Content</Name>
      <Alias>dynamicContent</Alias>
      <Definition>12037b10-11a9-4ced-af4f-d69fbaa84426</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>473ec35b-5247-447e-be60-778e0eac52ce</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>