<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a3810f15-443b-4317-962a-0c970f678690" Alias="homePage" Level="3">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Home</Folder>
    <Compositions>
      <Composition Key="24b466e2-afb4-40a7-9773-6c1e50987f37">seoBasePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e3021d0d-508e-4865-8f61-5cf87b5141a3" SortOrder="0">sharedContentContainer</ContentType>
    <ContentType Key="6b4cf9e1-96ad-4d88-b41f-1af661cec3c0" SortOrder="1">settingsContainer</ContentType>
    <ContentType Key="a80c1e42-3c1c-4a9d-afa2-8338491c1b6c" SortOrder="2">contentPage</ContentType>
    <ContentType Key="ee0b8a43-995d-4763-8a39-e59eaad14d66" SortOrder="3">errorPage</ContentType>
    <ContentType Key="fe79d898-3d4e-496e-ac9c-cfd7e20727c4" SortOrder="4">aboutPage</ContentType>
    <ContentType Key="0a5b29ec-8814-4b56-9df2-f2467a6ca641" SortOrder="5">contactPage</ContentType>
    <ContentType Key="918abb0f-479f-4747-9868-5152378bff5b" SortOrder="6">teamPage</ContentType>
    <ContentType Key="7065d735-142c-4ddb-9a2c-be2eb9e3bbc7" SortOrder="7">galleryPage</ContentType>
    <ContentType Key="a71bc8e3-a930-4f04-b76f-c0ab466dda3a" SortOrder="8">portfolioPage</ContentType>
    <ContentType Key="56829167-1a64-4ba0-872d-c8d6895d167e" SortOrder="9">servicesPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>815c663d-a93c-40c3-89cb-aae3b45a34bf</Key>
      <Name>Dynamic Content</Name>
      <Alias>dynamicContent</Alias>
      <Definition>87822b4e-e7e2-4d1c-9d60-987cf96bdc27</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ba9fb1d2-e19d-47de-9956-f3270549bb1c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>