<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a71bc8e3-a930-4f04-b76f-c0ab466dda3a" Alias="portfolioPage" Level="3">
  <Info>
    <Name>Portfolio Page</Name>
    <Icon>icon-layers-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Portfolio</Folder>
    <Compositions>
      <Composition Key="b850c566-9e31-44ad-999f-8f7b138b9434">basePageWithRequiredHeader</Composition>
      <Composition Key="24b466e2-afb4-40a7-9773-6c1e50987f37">seoBasePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="dedf9803-8fbc-4f36-9bcb-6085e8ce2f2d" SortOrder="0">portfolioSinglePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>bb7742cb-28bb-4b58-9cec-4d135382083a</Key>
      <Name>Dynamic Content</Name>
      <Alias>dynamicContent</Alias>
      <Definition>fdfcfa4a-21f0-4ce6-8f3a-60613a7c75e1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>52011ec0-ffb9-420d-bbf5-aea54ecec475</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>