<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56829167-1a64-4ba0-872d-c8d6895d167e" Alias="servicesPage" Level="3">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-network-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Services</Folder>
    <Compositions>
      <Composition Key="bd762390-3886-4399-8e07-664e8d1533b2">aSSearchBasePage</Composition>
      <Composition Key="b850c566-9e31-44ad-999f-8f7b138b9434">basePageWithRequiredHeader</Composition>
      <Composition Key="24b466e2-afb4-40a7-9773-6c1e50987f37">seoBasePage</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2126eaf5-8591-441f-a739-9280c467eb9d</Key>
      <Name>Dynamic Content</Name>
      <Alias>dynamicContent</Alias>
      <Definition>4c5e8429-1afa-456b-868e-f2a68d98614e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bcb659a7-6fee-4625-98c0-fde9b6b7b2d1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>