<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e3021d0d-508e-4865-8f61-5cf87b5141a3" Alias="sharedContentContainer" Level="2">
  <Info>
    <Name>Shared Content Container</Name>
    <Icon>icon-box-open color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Shared+Content</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="eede4813-b2cb-43c6-afdd-395f1da1b040" SortOrder="0">contactEntriesContainer</ContentType>
    <ContentType Key="289a742c-ba58-45a6-ae33-8badb7321c4c" SortOrder="1">layout</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>