@model Quote
@{
	if (Model == null) return;
}
<section class="quote-section bg-light">
	<div class="container">
		<div class="quote-section__content">
			<h2 class="text-center quote-section__content__title"><i class="fa fa-quote-left"></i> </h2>
			<p class="text-center">@Model.Text </p>
		</div>
	</div>
</section>