<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b4cf9e1-96ad-4d88-b41f-1af661cec3c0" Alias="settingsContainer" Level="2">
  <Info>
    <Name>Settings Container</Name>
    <Icon>icon-umb-settings color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3cd4bbba-6da4-4cab-b1b5-24904bccd697" SortOrder="0">seoSettings</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>