.error-massage {
    display: none;
    background: rgb(208, 2, 27);
    color: $c-white;
    font-weight: 400;
    padding: 5px 13px;
    font-size: 13px;
}

.invalid {
    border-color: $c-dark-red !important;
}

.invalid-val {
    border-color: $c-dark-red !important;
}

.error_show.error-massage {
    display: inline-block;
}
