/*Fonts*/
$font-family_1: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family_2: sans-serif;
$font-family_3: Hack, sans-serif;

/*Colors*/
$main_color_dark: #00243D;
$main_color_light: #003D6D;
$main_color_green: #a48f5c;
$c-white: white;
$c-black: black;
$c-grey: #ccc;
$c-light-grey: rgba(50,50,50,.5);
$c-lighter-grey: #222;
$c-dark-grey: rgba(50,50,50,.9);
$c-transparent: transparent;
$c-dark-red: #D0021B;