<?xml version="1.0" encoding="utf-8"?>
<Content Key="a10ac19e-c475-493c-a6f7-8fb62752ce10" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <changeFrequency>
      <Value><![CDATA[]]></Value>
    </changeFrequency>
    <dynamicContent>
      <Value><![CDATA[]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <priority>
      <Value><![CDATA[]]></Value>
    </priority>
    <shareImage>
      <Value><![CDATA[[]]]></Value>
    </shareImage>
    <shareText>
      <Value><![CDATA[]]></Value>
    </shareText>
    <shareTitle>
      <Value><![CDATA[]]></Value>
    </shareTitle>
  </Properties>
</Content>