@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	@(await Component.InvokeAsync(Atomic.Sео.Html.Constants.SeoViewComponentName))

	<link rel="stylesheet" href="~/atomic-kit-assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/atomic-kit-assets/fonts/font-awesome.min.css">
	<link rel="stylesheet" href="~/atomic-kit-assets/css/style.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">

	@RenderBody()

	<script src="~/atomic-kit-assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="~/atomic-kit-assets/js/atomic-kit.js"></script>
	<script src="~/atomic-kit-assets/js/Lightbox-Gallery-baguetteBox.min.js"></script>
	<script src="~/atomic-kit-assets/js/Lightbox-Gallery.js"></script>
</body>

</html>
