<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f66b699-77d3-4ddb-b5b7-3f54ddd0f12f" Alias="ASK - Block List - Clients Wall - Clients" Level="2">
  <Info>
    <Name>ASK - Block List - Clients Wall - Clients</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "0ef8e692-d6e0-4017-9819-1070e911b31f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>