<?xml version="1.0" encoding="utf-8"?>
<DataType Key="83d42fd0-7498-48e4-98b0-2eefc3ec5b52" Alias="ASK - Block List - Layout - Footer" Level="2">
  <Info>
    <Name>ASK - Block List - Layout - Footer</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Shared+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "dcb4620f-4f91-4216-a048-fc78989033b5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": null,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>