<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2565c23a-70fd-4ad0-a310-a955d18b1417" Alias="ASK - Media Picker - With Crops" Level="2">
  <Info>
    <Name>ASK - Media Picker - With Crops</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Shared+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "portfolioMainImage",
      "height": 500,
      "label": "portfolioMainImage",
      "width": 750
    },
    {
      "alias": "searchResultImage",
      "height": 360,
      "label": "searchResultImage",
      "width": 640
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>