<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b12a58f7-efde-4612-936d-54a96e414ef9" Alias="ASK - Multi Media Picker With Crops" Level="2">
  <Info>
    <Name>ASK - Multi Media Picker With Crops</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Shared+Content</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "portfolioRelatedItem",
      "height": 300,
      "label": "portfolioRelatedItem",
      "width": 500
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>