<?xml version="1.0" encoding="utf-8"?>
<DataType Key="51cca855-00ba-4112-baca-f6d01559068c" Alias="AS - Search Settings - API Result Image Quality - Numeric" Level="3">
  <Info>
    <Name>AS - Search Settings - API Result Image Quality - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Packages/Search</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 50,
  "step": 1,
  "max": 99
}]]></Config>
</DataType>