<?xml version="1.0" encoding="utf-8"?>
<DataType Key="09942915-41c7-419c-877c-eb949b012fe8" Alias="Block List Editor - Portfolio Listing - Portfolio Items" Level="2">
  <Info>
    <Name>Block List Editor - Portfolio Listing - Portfolio Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7f2240bb-b0e2-4baa-bbe9-ab8bdfcefed2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>