<?xml version="1.0" encoding="utf-8"?>
<DataType Key="87793b47-b1ea-41d3-810c-eda6a2d0637c" Alias="Seo Base Page - Change Frequency - Dropdown" Level="4">
  <Info>
    <Name>Seo Base Page - Change Frequency - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Packages/Seo/Pages</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Never"
    },
    {
      "id": 2,
      "value": "Yearly"
    },
    {
      "id": 3,
      "value": "Monthly"
    },
    {
      "id": 4,
      "value": "Weekly"
    },
    {
      "id": 5,
      "value": "Daily"
    },
    {
      "id": 6,
      "value": "Hourly"
    },
    {
      "id": 7,
      "value": "Always"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>