<?xml version="1.0" encoding="utf-8"?>
<Content Key="ede4570e-1041-4331-bf43-42bee4bad4d1" Alias="404" Level="2">
  <Info>
    <Parent Key="a10ac19e-c475-493c-a6f7-8fb62752ce10">Home</Parent>
    <Path>/Home/</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2023-07-04T18:20:28</CreateDate>
    <NodeName Default="404" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/38a5820e2b12479dbbabe6fb41491413"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0767d2e7-26c0-4c22-9584-3d38348b70e2",
      "udi": "umb://element/38a5820e2b12479dbbabe6fb41491413",
      "errorCode": "404",
      "errorMessage": "Page not found",
      "redirectPage": "[{\"name\":\"Go to Home page\",\"udi\":\"umb://document/a10ac19ec475493ca6f78fb62752ce10\"}]"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
  </Properties>
</Content>