<?xml version="1.0" encoding="utf-8"?>
<Content Key="d07e06f2-c07b-4e26-947b-e34b0045113b" Alias="Contact Entries" Level="3">
  <Info>
    <Parent Key="c0741863-627b-4695-ab3e-7f20b04b76aa">Shared Content</Parent>
    <Path>/Home/SharedContent/ContactEntries</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntriesContainer</ContentType>
    <CreateDate>2023-07-04T18:20:28</CreateDate>
    <NodeName Default="Contact Entries" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>