<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a76e1d3-1880-44e1-839a-6731e99beed2" Alias="Entry-dsfdsa-4/24/2023 3:28:17 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryDsfdsa424202332817PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T15:28:17</CreateDate>
    <NodeName Default="Entry-dsfdsa-4/24/2023 3:28:17 PM" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[dsfdsa]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[dsfasd@dsfsadf]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdafsdaf]]></Value>
    </message>
  </Properties>
</Content>