<?xml version="1.0" encoding="utf-8"?>
<Content Key="366bc04f-b1fd-4f3b-9a41-c40b8a1008f9" Alias="Entry-fdsfa-4/24/2023 12:49:13 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntryFdsfa4242023124913PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T12:49:13</CreateDate>
    <NodeName Default="Entry-fdsfa-4/24/2023 12:49:13 PM" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[fdsfa]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[sda@fasd.com]]></Value>
    </email>
    <message>
      <Value><![CDATA[dsfsdafasd]]></Value>
    </message>
  </Properties>
</Content>