<?xml version="1.0" encoding="utf-8"?>
<Content Key="7b1725d9-fbe7-4fb0-8b8b-e683dc5dec94" Alias="Entry--4/24/2023 2:36:43 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/Entry424202323643PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T14:36:43</CreateDate>
    <NodeName Default="Entry--4/24/2023 2:36:43 PM" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[dsfdsf@dfsdafdsafdsa]]></Value>
    </email>
    <message>
      <Value><![CDATA[sdfdsa]]></Value>
    </message>
  </Properties>
</Content>