<?xml version="1.0" encoding="utf-8"?>
<Content Key="afb14ffb-e0b9-472a-a5e3-e1b801d77df0" Alias="Entry-sdfsadf-4/24/2023 2:02:33 PM" Level="4">
  <Info>
    <Parent Key="d07e06f2-c07b-4e26-947b-e34b0045113b">Contact Entries</Parent>
    <Path>/Home/SharedContent/ContactEntries/EntrySdfsadf424202320233PM</Path>
    <Trashed>false</Trashed>
    <ContentType>contactEntry</ContentType>
    <CreateDate>2023-04-24T14:02:33</CreateDate>
    <NodeName Default="Entry-sdfsadf-4/24/2023 2:02:33 PM" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactName>
      <Value><![CDATA[sdfsadf]]></Value>
    </contactName>
    <email>
      <Value><![CDATA[dsfsad@fdsdaf]]></Value>
    </email>
    <message>
      <Value><![CDATA[dsafasdf]]></Value>
    </message>
  </Properties>
</Content>