<?xml version="1.0" encoding="utf-8"?>
<Content Key="c914df8a-b1f6-4168-9987-969e8e5fffc1" Alias="Jimm Doe" Level="3">
  <Info>
    <Parent Key="8b5f43ee-1a7e-465a-a1e8-618a9f6d2ff2">Team</Parent>
    <Path>/Home/Team/JimmDoe</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMemberPage</ContentType>
    <CreateDate>2023-07-04T18:20:28</CreateDate>
    <NodeName Default="Jimm Doe" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <changeFrequency>
      <Value><![CDATA[]]></Value>
    </changeFrequency>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ed995a59c568419f9ceb9526dda433de"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "16216473-3b84-4576-80ba-609c56166b10",
      "udi": "umb://element/ed995a59c568419f9ceb9526dda433de",
      "title": "Meet John Doe",
      "description": "Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.",
      "image": "[\r\n  {\r\n    \"key\": \"85d4d0c5-2812-42a4-95a7-0937baeab0c2\",\r\n    \"mediaKey\": \"edf62414-b8a9-40a6-8665-bbcd6fec31f6\"\r\n  }\r\n]",
      "memberName": "John Doe",
      "memberResume": "Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.",
      "footnote": "Lorem Ipsum Sit dolor",
      "facebookProfileLink": "#",
      "instagramProfileLink": "#"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageHeader>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/600d7065ab52406aba58476d01d5040c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3604058-ae19-413c-8638-d64d733e51e0",
      "udi": "umb://element/600d7065ab52406aba58476d01d5040c",
      "backgroundImage": "[]",
      "title": "John Doe"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHeader>
    <priority>
      <Value><![CDATA[]]></Value>
    </priority>
    <shareImage>
      <Value><![CDATA[[]]]></Value>
    </shareImage>
    <shareText>
      <Value><![CDATA[]]></Value>
    </shareText>
    <shareTitle>
      <Value><![CDATA[]]></Value>
    </shareTitle>
  </Properties>
</Content>