<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4b6fe5d-8419-4635-afd7-152cb1f3cfd5" Alias="Search Settings" Level="3">
  <Info>
    <Parent Key="7ba16b33-8c12-4904-ae35-12e32b5b3622">Settings</Parent>
    <Path>/Home/Settings/SearchSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>searchSettings</ContentType>
    <CreateDate>2023-08-30T14:59:57</CreateDate>
    <NodeName Default="Search Settings" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apiResultConvertToWebP>
      <Value><![CDATA[1]]></Value>
    </apiResultConvertToWebP>
    <apiResultImage>
      <Value><![CDATA[[
  "pageHeader[heading]/backgroundImage",
  "dynamicContent[hero]/backgroundImage"
]]]></Value>
    </apiResultImage>
    <apiResultImageCrop>
      <Value><![CDATA[searchResultImage]]></Value>
    </apiResultImageCrop>
    <apiResultImageQuality>
      <Value><![CDATA[90]]></Value>
    </apiResultImageQuality>
    <apiResultReleaseDate>
      <Value><![CDATA[]]></Value>
    </apiResultReleaseDate>
    <apiResultText>
      <Value><![CDATA[[
  "dynamicContent[hero]/subtitle",
  "dynamicContent[quote]/text"
]]]></Value>
    </apiResultText>
    <apiResultTextMaxLength>
      <Value><![CDATA[]]></Value>
    </apiResultTextMaxLength>
    <apiResultTitle>
      <Value><![CDATA[[
  "dynamicContent[hero]/title",
  "pageHeader[heading]/title"
]]]></Value>
    </apiResultTitle>
    <apiResultTitleMaxLength>
      <Value><![CDATA[]]></Value>
    </apiResultTitleMaxLength>
    <computedReleaseDate>
      <Value><![CDATA[]]></Value>
    </computedReleaseDate>
    <computedText>
      <Value><![CDATA[[
  "dynamicContent[hero]/subtitle",
  "dynamicContent[quote]/text",
  "dynamicContent[portfolioListing]/title",
  "dynamicContent[portfolioDetails]/title",
  "dynamicContent[services]/title"
]]]></Value>
    </computedText>
    <computedTitle>
      <Value><![CDATA[[
  "dynamicContent[hero]/title",
  "pageHeader[heading]/title"
]]]></Value>
    </computedTitle>
    <computedTitleBoost>
      <Value><![CDATA[10]]></Value>
    </computedTitleBoost>
    <excludedDocumentTypesAliases>
      <Value><![CDATA[]]></Value>
    </excludedDocumentTypesAliases>
  </Properties>
</Content>