<?xml version="1.0" encoding="utf-8"?>
<Content Key="de2b2eef-2114-4214-9b85-21141047bb5b" Alias="SEO Settings" Level="3">
  <Info>
    <Parent Key="7ba16b33-8c12-4904-ae35-12e32b5b3622">Settings</Parent>
    <Path>/Home/Settings/SEOSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>seoSettings</ContentType>
    <CreateDate>2023-08-09T17:08:15</CreateDate>
    <NodeName Default="SEO Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <imageFallback>
      <Value><![CDATA[]]></Value>
    </imageFallback>
    <metaDescriptionMaxLength>
      <Value><![CDATA[]]></Value>
    </metaDescriptionMaxLength>
    <robotsTxt>
      <Value><![CDATA[]]></Value>
    </robotsTxt>
    <shareDefaultImage>
      <Value><![CDATA[[]]]></Value>
    </shareDefaultImage>
    <shareTextMaxLength>
      <Value><![CDATA[]]></Value>
    </shareTextMaxLength>
    <sitemapCacheDuration>
      <Value><![CDATA[]]></Value>
    </sitemapCacheDuration>
    <textFallback>
      <Value><![CDATA[]]></Value>
    </textFallback>
    <titleFallback>
      <Value><![CDATA[]]></Value>
    </titleFallback>
    <turnOffSeo>
      <Value><![CDATA[0]]></Value>
    </turnOffSeo>
    <turnOffSitemapCache>
      <Value><![CDATA[0]]></Value>
    </turnOffSitemapCache>
  </Properties>
</Content>