<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0741863-627b-4695-ab3e-7f20b04b76aa" Alias="Shared Content" Level="2">
  <Info>
    <Parent Key="a10ac19e-c475-493c-a6f7-8fb62752ce10">Home</Parent>
    <Path>/Home/SharedContent</Path>
    <Trashed>false</Trashed>
    <ContentType>sharedContentContainer</ContentType>
    <CreateDate>2023-04-06T11:48:52</CreateDate>
    <NodeName Default="Shared Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>