<?xml version="1.0" encoding="utf-8"?>
<Content Key="48c90eb2-36bc-463a-b206-f518e65ab1d1" Alias="Social Media Settings" Level="3">
  <Info>
    <Parent Key="7ba16b33-8c12-4904-ae35-12e32b5b3622">Settings</Parent>
    <Path>/Home/Settings/SocialMediaSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>socialMediaSettings</ContentType>
    <CreateDate>2023-07-04T18:20:28</CreateDate>
    <NodeName Default="Social Media Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <facebookProfileLink>
      <Value><![CDATA[#]]></Value>
    </facebookProfileLink>
    <instagramProfileLink>
      <Value><![CDATA[#]]></Value>
    </instagramProfileLink>
    <pinterestProfileLink>
      <Value><![CDATA[#]]></Value>
    </pinterestProfileLink>
    <twitterProfileLink>
      <Value><![CDATA[#]]></Value>
    </twitterProfileLink>
  </Properties>
</Content>