<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e23c378-d56b-4491-8db0-3ab8184d8895" Alias="Website Design" Level="3">
  <Info>
    <Parent Key="4ef4df6a-06e0-4b0c-87fe-cc4c52248cbc">Portfolio</Parent>
    <Path>/Home/Portfolio/WebsiteDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>portfolioSinglePage</ContentType>
    <CreateDate>2023-07-04T18:20:28</CreateDate>
    <NodeName Default="Website Design" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <browserTitle>
      <Value><![CDATA[]]></Value>
    </browserTitle>
    <canonicalUrl>
      <Value><![CDATA[]]></Value>
    </canonicalUrl>
    <changeFrequency>
      <Value><![CDATA[]]></Value>
    </changeFrequency>
    <dynamicContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4ea7ffc17982420593c95903a0355789"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0d3248c8-7f35-401e-9663-3ea2061ff873",
      "udi": "umb://element/4ea7ffc17982420593c95903a0355789",
      "preTitle": "Portfolio",
      "title": "Lorem ipsum dolor sit amet consectetur.",
      "description": "<h3>Portfolio 1</h3>\n<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>\n<ul class=\"list-unstyled\">\n<li>Date: January 2017</li>\n<li>Client: Threads</li>\n<li>Category: Illustration</li>\n</ul>",
      "mainImage": "[\r\n  {\r\n    \"key\": \"55702785-2484-43fb-a310-f3b7470e6fe1\",\r\n    \"mediaKey\": \"2dcc6f12-a3ca-49f7-852c-5c1fae2838dc\"\r\n  }\r\n]",
      "relatedImages": "[\r\n  {\r\n    \"key\": \"dd2a178c-c017-4467-98d5-832a5dc0bdc4\",\r\n    \"mediaKey\": \"ec25a677-3dd9-43bf-abdf-8255f8b242b0\"\r\n  },\r\n  {\r\n    \"key\": \"1e5a428c-0978-4ccd-8a3a-cd61cb0e2ed4\",\r\n    \"mediaKey\": \"82b047de-26c1-4e5f-94c2-eace8fd12e0b\"\r\n  },\r\n  {\r\n    \"key\": \"eb564667-5abd-47c4-8136-99ea41108f8a\",\r\n    \"mediaKey\": \"2dcc6f12-a3ca-49f7-852c-5c1fae2838dc\"\r\n  },\r\n  {\r\n    \"key\": \"30bd12e4-7286-40d4-a9dc-f04008b4828e\",\r\n    \"mediaKey\": \"da457b48-656f-4844-9f5b-dd44ffb89afa\"\r\n  }\r\n]",
      "relatedImagesSectionTitle": "Related images"
    }
  ],
  "settingsData": []
}]]></Value>
    </dynamicContent>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <noFollow>
      <Value><![CDATA[0]]></Value>
    </noFollow>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageHeader>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f2730c9ab869418691d20217a60c60cb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a3604058-ae19-413c-8638-d64d733e51e0",
      "udi": "umb://element/f2730c9ab869418691d20217a60c60cb",
      "backgroundImage": "[]",
      "title": "Website Design"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageHeader>
    <priority>
      <Value><![CDATA[]]></Value>
    </priority>
    <shareImage>
      <Value><![CDATA[[]]]></Value>
    </shareImage>
    <shareText>
      <Value><![CDATA[]]></Value>
    </shareText>
    <shareTitle>
      <Value><![CDATA[]]></Value>
    </shareTitle>
  </Properties>
</Content>