<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9c99384-8e72-4864-a244-ee8d992f984f" Alias="Contact Us G9d7250b14 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/ContactUsG9d7250b141280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T19:48:11</CreateDate>
    <NodeName Default="Contact Us G9d7250b14 1280" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qkjnt0ls/contact-us-g9d7250b14_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>