<?xml version="1.0" encoding="utf-8"?>
<Media Key="022d4325-bb0f-4981-9f1d-830f81c46513" Alias="Heading Portfolio" Level="3">
  <Info>
    <Parent Key="8802c6a1-76a7-40db-971a-8261e0d2d1de">Heading</Parent>
    <Path>/StarterKit/Heading/HeadingPortfolio</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Heading Portfolio" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enbd0aqp/heading-portfolio.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>