<?xml version="1.0" encoding="utf-8"?>
<Media Key="8802c6a1-76a7-40db-971a-8261e0d2d1de" Alias="Heading" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/Heading</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Heading" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>