<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a8ba637-0c23-429d-a82c-5c2a5152c2ce" Alias="Icon G10fbde3b7 640" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/IconG10fbde3b7640</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T19:46:06</CreateDate>
    <NodeName Default="Icon G10fbde3b7 640" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ggtiwcrd/icon-g10fbde3b7_640.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>