<?xml version="1.0" encoding="utf-8"?>
<Media Key="140c61b4-0ef7-4580-afa7-2d6a4c028b01" Alias="Icon Gbcb9c668e 640" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/IconGbcb9c668e640</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T19:46:06</CreateDate>
    <NodeName Default="Icon Gbcb9c668e 640" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wjqbyfhx/icon-gbcb9c668e_640.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>