<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9918fcd-9148-4588-a1cc-c665eaaf9e3c" Alias="Icon G909420fbb 640" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/IconG909420fbb640</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Icon G909420fbb 640" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zohjdkki/icon-g909420fbb_640.png]]></Value>
    </umbracoFile>
  </Properties>
</Media>