<?xml version="1.0" encoding="utf-8"?>
<Media Key="25356efb-4fc5-4aa9-bf2d-1022b6595bd0" Alias="Imac G6fff97ddb 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/ImacG6fff97ddb1280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:32:25</CreateDate>
    <NodeName Default="Imac G6fff97ddb 1280" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5vxdkjof/imac-g6fff97ddb_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>