<?xml version="1.0" encoding="utf-8"?>
<Media Key="15d6b8ea-6a21-4131-98c6-c617655454df" Alias="Logo V3 Inverted" Level="3">
  <Info>
    <Parent Key="0218a26d-1cda-4be3-a7c2-6e716acbb5d0">Logos</Parent>
    <Path>/StarterKit/Logos/LogoV3Inverted</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-30T17:39:39</CreateDate>
    <NodeName Default="Logo V3 Inverted" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3s2nmfjb/logo-v3-inverted.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>