<?xml version="1.0" encoding="utf-8"?>
<Media Key="0218a26d-1cda-4be3-a7c2-6e716acbb5d0" Alias="Logos" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-30T14:12:11</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>