<?xml version="1.0" encoding="utf-8"?>
<Media Key="da457b48-656f-4844-9f5b-dd44ffb89afa" Alias="Phone Gc09393436 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/PhoneGc093934361280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:32:26</CreateDate>
    <NodeName Default="Phone Gc09393436 1280" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jz3flwtp/phone-gc09393436_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>