<?xml version="1.0" encoding="utf-8"?>
<Media Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d" Alias="TimeLine" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/TimeLine</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="TimeLine" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>