<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec5c924f-b76d-46c4-969b-51c497f3a41a" Alias="Timeline 6" Level="3">
  <Info>
    <Parent Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d">TimeLine</Parent>
    <Path>/StarterKit/TimeLine/Timeline6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Timeline 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jgjfz1dn/timeline-6.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>