<?xml version="1.0" encoding="utf-8"?>
<Media Key="007290ed-1cc5-49f9-bb53-343276a472a8" Alias="Timeline 1" Level="3">
  <Info>
    <Parent Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d">TimeLine</Parent>
    <Path>/StarterKit/TimeLine/Timeline1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Timeline 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3oiheagf/timeline-1.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>