<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4675a35-6c19-4a68-a5b6-d7e5dbd51a3b" Alias="Timeline 4" Level="3">
  <Info>
    <Parent Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d">TimeLine</Parent>
    <Path>/StarterKit/TimeLine/Timeline4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T09:53:23</CreateDate>
    <NodeName Default="Timeline 4" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gnngpraz/timeline-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>