<?xml version="1.0" encoding="utf-8"?>
<Media Key="507c3062-9288-4168-9ef7-71e2bcf63eb7" Alias="Timeline 2" Level="3">
  <Info>
    <Parent Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d">TimeLine</Parent>
    <Path>/StarterKit/TimeLine/Timeline2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Timeline 2" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mqyhyuei/timeline-2.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>