<?xml version="1.0" encoding="utf-8"?>
<Media Key="3afdcaab-92b0-4bf0-894f-f70d7b34092c" Alias="Timeline 3" Level="3">
  <Info>
    <Parent Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d">TimeLine</Parent>
    <Path>/StarterKit/TimeLine/Timeline3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Timeline 3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vxfp0ovq/timeline-3.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>