<?xml version="1.0" encoding="utf-8"?>
<Media Key="acf845fa-2660-4553-9e04-4b0570f02224" Alias="Timeline 5" Level="3">
  <Info>
    <Parent Key="44b94bb0-9ca3-433e-b774-21a0c2db5c1d">TimeLine</Parent>
    <Path>/StarterKit/TimeLine/Timeline5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:29</CreateDate>
    <NodeName Default="Timeline 5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5rcprlda/timeline-5.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>