<?xml version="1.0" encoding="utf-8"?>
<Media Key="2432c6e7-49ae-43e5-8e69-30e8f10cba28" Alias="Ux G0ed09215c 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/UxG0ed09215c1280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:32:26</CreateDate>
    <NodeName Default="Ux G0ed09215c 1280" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2hddejfo/ux-g0ed09215c_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>