<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec25a677-3dd9-43bf-abdf-8255f8b242b0" Alias="Web Design G0b53fd1bc 1920" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/WebDesignG0b53fd1bc1920</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-28T18:47:22</CreateDate>
    <NodeName Default="Web Design G0b53fd1bc 1920" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ogtcl1gz/web-design-g0b53fd1bc_1920.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>