<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd9ad010-1202-4f6f-9796-6327fc2629a7" Alias="Web Design G25fc9582b 1280" Level="2">
  <Info>
    <Parent Key="cbdd475e-d11b-4e3e-bf39-143596ee36cf">Starter Kit</Parent>
    <Path>/StarterKit/WebDesignG25fc9582b1280</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-04T18:20:28</CreateDate>
    <NodeName Default="Web Design G25fc9582b 1280" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c1ijvxic/web-design-g25fc9582b_1280.jpg]]></Value>
    </umbracoFile>
  </Properties>
</Media>