@import 'fonts.scss';
$main_color_dark: #00243D;
$main_color_light: #003D6D;
$main_color_green: #a48f5c;
$color_1: white;
$color_2: #ccc;
$color_3: #ddd;
$color_4: var(--bs-primary);
$color_5: var(--bs-white);
$color_6: rgb(255, 255, 255);
$blue_color: #003D6D;
$font-family_1: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$font-family_2: sans-serif;
$font-family_3: Hack, sans-serif;
$background-color_1: #00243D;
$background-color_2: transparent;
$background-color_3: white;
$background-color_4: #222;
$background-color_5: rgba(0,0,0,.8);
$background-color_6: #000;
$background-color_7: rgba(0,0,0,.6);
$background-color_8: #323232;
$background-color_9: rgba(50,50,50,.5);
$background-color_10: rgba(50,50,50,.9);
$background-color_11: #fff;
$background-color_12: #a48f5c;
$border-color_1: rgb(208, 2, 27);

@keyframes bounceFromRight {
    0%,100% {
        margin-left: 0;
    }

    50% {
        margin-left: -30px;
    }
}

@keyframes bounceFromLeft {
    0%,100% {
        margin-left: 0;
    }

    50% {
        margin-left: 30px;
    }
}

@keyframes bounce {
    0%,100% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

::-moz-selection {
    color: $color_1;
    background: #003D6D;
}

::selection {
    color: $color_1;
    background: #003D6D;
}

a {
    color: $main_color_light;
}

a:hover {
    color: $main_color_light;
}

.btn {
    background-color: $background-color_1;
    color: $color_1;
    --bs-btn-color: #00243D;
    --bs-btn-border-color: #00243D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #003D6D;
    --bs-btn-hover-border-color: #003D6D;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #003D6D;
    --bs-btn-active-border-color: #003D6D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #00243D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #00243D;
    --bs-gradient: none;
}


#mainNav {
    background-color: $background-color_2;

    .navbar-brand {
        color: $color_1;
        font-family: $font-family_1;
        height: 60px;
        max-height: 60px;
        margin-right: 20px;

        &:hover {
            color: $color_1 !important;
        }

        &:focus {
            color: $color_1 !important;
        }

        .brand-text {
            padding-left: 8px;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                display: inline-block;
                position: relative;
                color: $color_1;

                &:hover {
                    color: $color_1 !important;

                    &:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 4px;
                    bottom: 0;
                    left: 0;
                    background-color: $background-color_3;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
            }

            .nav-link.active {
                color: $color_1 !important;
            }
        }
    }

    .navbar-toggler {
        background-color: $main_color_light;
    }

    &.navbar-shrink {
        padding-top: 10px;
        background-color: $background-color_1 !important;

        .logo {
            max-height: 60px !important;
        }

        @media (max-width: 767px) {
            .logo {
                max-height: 50px !important;
            }
        }
    }

    @media (max-width: 767px) {
        .logo {
            max-height: 40px !important;
        }
    }
}


@media (max-width: 767px) {
    #mainNav {
        background-color: $main_color_dark;
    }
}

.contact-section {
    padding: 50px 0px;
}

.heading-section {
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px 0px;
    height: 500px;
    max-width: 1903px;
    max-height: 450px;

    &__overlay {
        position: absolute;
        top: 0;
        height: 450px;
        width: 100%;
        background-color: rgba(0,0,0,.4);
        background-size: cover;
    }

    &__content {
        &__title {
            z-index: 999;
        }
    }
}

.hero-section {
    height: 450px;
    margin: 0px 0px;
    max-width: 1903px;
    max-height: 450px;
    margin-top: 50px;

    .container {
        padding-top: 48px;

        .row {
            padding-top: 80px;

            p {
                margin-bottom: 20px;
                height: 50px;
            }
        }
    }
}

.team-member-details-section {
    .container {
        .img-thumbnail {
            width: 500px;
            margin: 0px;
            margin-right: 0px;
            margin-left: 0px;
            margin-top: 10px;
            padding: 0px;
            height: 500px;
            max-width: 500px;
            max-height: 500px;
        }

        .member-info {
            h5 {
                padding-top: 10px;
            }

            p {
                padding-top: 20px;
            }
        }
    }
}

.portfolio-section {
    padding: 48px 0;

    .portfolio-item {
        .portfolio-link {
            .portfolio-hover {
                background: rgba(0, 61, 109, .6) !important;

                .portfolio-hover-content {
                    position: absolute;
                    top: 0 !important;
                    right: 0 !important;
                    width: 100%;
                    height: 16px !important;
                    text-align: right !important;
                    color: #fff;
                    margin-top: 8px !important;
                    margin-right: 8px;

                    i {
                        margin-top: 0 !important;
                    }
                }
            }
        }
    }



    .see-all-link {
        a {
            font-size: 18px;
            border: none;

            i {
                padding-left: 10px;
            }
        }
    }
}

@media(min-width: 768px) {
    .portfolio-section {
        padding: 48px 0;
    }
}

.fit-cover {
    object-fit: cover;
}

#baguetteBox-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: $background-color_4;
    background-color: $background-color_5;
    transition: opacity .5s ease;

    .full-image {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;

        figure {
            display: inline;
            margin: 0;
            height: 100%;
        }

        img {
            display: inline-block;
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            vertical-align: middle;
            -moz-box-shadow: 0 0 8px rgba(0,0,0,.6);
            box-shadow: 0 0 8px rgba(0,0,0,.6);
        }

        figcaption {
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            line-height: 1.8;
            white-space: normal;
            color: $color_2;
            background-color: $background-color_6;
            background-color: $background-color_7;
            font-family: $font-family_2;
        }

        &:before {
            content: "";
            display: inline-block;
            height: 50%;
            width: 1px;
            margin-right: -1px;
        }
    }
}

#baguetteBox-overlay.visible {
    opacity: 1;
}

#baguetteBox-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    transition: left .4s ease,-webkit-transform .4s ease;
    transition: left .4s ease,transform .4s ease;
    transition: left .4s ease,transform .4s ease,-webkit-transform .4s ease,-moz-transform .4s ease;
}

#baguetteBox-slider.bounce-from-right {
    animation: bounceFromRight .4s ease-out;
}

#baguetteBox-slider.bounce-from-left {
    animation: bounceFromLeft .4s ease-out;
}

.baguetteBox-button#next-button {
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
    right: 2%;
}

.baguetteBox-button#previous-button {
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
    left: 2%;
}

.baguetteBox-button {
    position: absolute;
    cursor: pointer;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    -moz-border-radius: 15%;
    border-radius: 15%;
    background-color: $background-color_8;
    background-color: $background-color_9;
    color: $color_3;
    font: 1.6em sans-serif;
    transition: background-color .4s ease;

    &:focus {
        background-color: $background-color_10;
    }

    &:hover {
        background-color: $background-color_10;
    }

    svg {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;
}

.baguetteBox-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.baguetteBox-double-bounce1 {
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: $background-color_11;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: $background-color_11;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
    animation-delay: -1s;
}

.simple-slider {
    .swiper-slide {
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .swiper-button-next {
        width: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .swiper-button-prev {
        width: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

footer {
    background-color: $background-color_1;
}

.logo {
    max-height: 70px;
}

.social-media-links {
    .bs-icon {
        --bs-icon-size: .75rem;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        font-size: var(--bs-icon-size);
        width: calc(var(--bs-icon-size) * 2);
        height: calc(var(--bs-icon-size) * 2);
        color: $color_4;
    }

    .bs-icon-xs {
        --bs-icon-size: 1rem;
        width: calc(var(--bs-icon-size) * 1.5);
        height: calc(var(--bs-icon-size) * 1.5);
    }

    .bs-icon-sm {
        --bs-icon-size: 1rem;
    }

    .bs-icon-md {
        --bs-icon-size: 1.5rem;
    }

    .bs-icon-lg {
        --bs-icon-size: 2rem;
    }

    .bs-icon-xl {
        --bs-icon-size: 2.5rem;
    }

    .bs-icon.bs-icon-primary {
        color: $color_5;
        background: var(--bs-primary);
    }

    .bs-icon.bs-icon-primary-light {
        color: $color_4;
        background: rgba(var(--bs-primary-rgb), .2);
    }

    .bs-icon.bs-icon-semi-white {
        color: $color_4;
        background: rgba(255, 255, 255, .5);
    }

    .bs-icon.bs-icon-rounded {
        border-radius: .5rem;
    }

    .bs-icon.bs-icon-circle {
        border-radius: 50%;
    }

    &__item {
        &__link {
            &__icon:hover {
                fill: #f8f9fa;
                font-size: 25px;
                transition: ease-in-out;
            }
        }
    }
}

.error-massage {
    display: none;
    background: rgb(208, 2, 27);
    color: $color_6;
    font-weight: 400;
    padding: 5px 13px;
    font-size: 13px;
}

.invalid {
    border-color: $border-color_1 !important;
}

.invalid-val {
    border-color: $border-color_1 !important;
}

.error_show.error-massage {
    display: inline-block;
}

.cta {
    .content {
        background-color: $background-color_12;
    }
}

.intro-heading {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    font-family: $font-family_3;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, #fff, #fff);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear;
    position: relative;
}

@media (min-width:767px) and (max-width:1199px) {
    .heading-section {
        h1 {
            margin-top: 150px;
        }
    }
}

@media (max-width:767px) {
    .simple-slider {
        .swiper-button-next {
            display: none;
        }

        .swiper-button-prev {
            display: none;
        }

        .swiper-slide {
            height: 360px;
        }
    }
}

.highlight-clean {
    color: black;
    background-color: #fff;
    padding: 50px 0;
    padding: 50px 0;

    h2 {
        font-weight: bold;
        margin-bottom: 25px;
        line-height: 1.5;
        padding-top: 0;
        margin-top: 0;
        color: inherit;
        font-weight: bold;
        margin-bottom: 25px;
        line-height: 1.5;
        padding-top: 0;
        margin-top: 0;
        color: inherit;
    }

    .intro {
        font-size: 16px;
        max-width: 500px;
        margin: 0 auto 25px;
        font-size: 16px;
        max-width: 60%;
        margin: 0 auto 25px;
    }
}

.double-image {
    padding: 0 0 50px 0;

    &__left, &__right {
        padding: 10px;
    }

    .hover {
        overflow: hidden;
        position: relative;
        padding-bottom: 60%;

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s;
        }
    }

    .hover-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 90;
        transition: all 0.4s;
    }

    .hover-5 {
        .hover-overlay {
            background: rgba(0, 0, 0, 0.4);
        }

        &:hover {
            .hover-overlay {
                background: rgba(0, 0, 0, 0.8);
            }

            .hover-5-title {
                bottom: 0;

                span {
                    opacity: 1;
                }
            }

            &::after {
                bottom: 0;
            }
        }
    }

    .hover-5-title {
        position: absolute;
        bottom: 1rem;
        left: 0;
        transition: all 0.3s;
        padding: 2rem 3rem;
        z-index: 99;
        font-weight: bold;

        span {
            transition: all 0.4s;
            opacity: 0;
            color: #47c650;
        }
    }
}


@media(min-width: 768px) {
    .double-image {
        padding: 0 0 50px 0;
    }
}

.services-section {
    padding: 48px 0;
}

@media(min-width: 768px) {
    .services-section {
        padding: 48px 0;
    }
}

.team-listing-section {
    padding: 48px 0;

    .team-listing-section__content {
        .team-listing-section__content__member-info {
            a, h5 {
                color: $main_color_light;
            }
        }
    }
}

@media(min-width: 768px) {
    .team-listing-section {
        padding: 48px 0;
    }
}

.about-section {
    padding: 48px 0;
}

@media(min-width: 768px) {
    .about-section {
        padding: 48px 0;
    }
}

.contact-section {
    &__contact-form {
        &__group {
            .form-label {
                margin-bottom: 0;
            }

            .form-control:focus {
                color: #212529;
                background-color: #fff;
                border-color: $main_color_light;
                outline: 0;
                box-shadow: 0 0 0 .25rem rgba(0, 61, 109, .25)
            }
        }

        .form-check-input:checked {
            background-color: $main_color_light;
            border-color: $main_color_light;
        }

        .form-check-input:focus {
            border-color: $main_color_light;
            outline: 0;
            box-shadow: 0 0 0 .25rem rgba(0, 61, 109, .25)
        }
    }
}
