<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24a9458f-1d7d-4ae1-84e0-2ead9aecc101" Alias="Block List Editor - Featured Portfolio - Cases" Level="2">
  <Info>
    <Name>Block List Editor - Featured Portfolio - Cases</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Components</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "9e0675a9-4db3-48c0-a52e-dcddd6faf1c8",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>